html, body, .container {
    height: 100%;
    width: 100%;
}

nav {
    background-color: #2E303C;
}
form {
    margin-top: 10px;
}

.img-logo {
    height: 60px;
    margin-left: 10px;
}

.datepicker {
    height: 2.5rem !important;
}

.input-radio {
    margin-top: 0 !important;
}

.login-container {
    margin: 0 auto;
    max-width: 1280px;
    text-align: center;
}

.login-button {
    background-color: #2E303C;
}

.login-button:hover, 
.login-button:focus, 
.login-button:active {
    background-color: #575962;
} 

.fixed-action-btn > .btn-floating {
    background-color: #2E303C;
}

@media only screen and (min-width: 992px){
    .modal {
        width: 80%;
        height: 80% !important;
        max-height: 80% !important;
    }
}

.centered {
    text-align: center;
}

.collection {
  overflow: visible;
}